*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container{
    padding: 4em;
}

.box1{
    background-color: #2f45a7;
    width: 100%;
    max-width: 300px;
    height: 400px;
    border-radius: 5px;
}

.box2{
    background-color: #f1eff1;
    width: 100%;
    max-width: 1000px;
    max-height: 500px;
    height: 200vh;
    border-radius: 5px;
}

.panel{
    display: flex;
    gap: 30px;
}

#profile-pic{
    width: 100%;
    max-width: 100px;
    margin: 1em auto;
}

.box1-content img{
    display: flex;
    filter: invert(1);
    padding: 1em;
}

.session-name{
    color: #fff;
    font-size: 20px;
    text-align: center;
    letter-spacing: 2px;
    font-weight: bold;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

li, input[type="submit"]{
    border-radius: 5px;
    font-size: 18px;
    margin-top: 0.5em;
}

/* .active{
    background-color: #fff;
    padding: 0.7em;
    color: #2f45a7;
} */

ul{
    display: flex;
    flex-direction: column;
    padding: 2em 0;
    align-items: center;
}

.teacher-box, .student-box, .project-box{
    width: 100%;
    max-width: 300px;
    height: 200px;
    background-color: #fff;
    border-radius: 5px;
}

.box2-content{
    padding: 3em;
    display: flex;
    gap: 80px;
}

.align{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

i{
    font-size: 2.5rem;
}

.teacher-box, .student-box, .project-box{
    padding: 2em;
    color: #2f45a7;
}

.align h1{
    font-size: 3rem;
}

.box2-section{
    margin-left: 3em;
}

.sec-section p{
    max-width: 500px;
}

.box-container{
    display: flex;
    justify-content: space-between;
    gap: 30px;
}

.vote-access{
    width: 100%;
    max-width: 200px;
    height: 130px;
    background-color: #fff;
    border-radius: 5px;
    margin: 0 auto;
}

.adjust-content{
    padding: 1em;
    text-align: center;
    color: #2f45a7;
    font-weight: bold;
    margin-top: 1em;
}

.adjust-content p{
    margin-bottom: 2.5em;
}

.adjust-content a{
    background-color: #2f45a7;
    color: #fff;
    padding: 0.3em 1.5em;
}

.box2-content-winner{
    width: 100%;
    max-width: 820px;
    height: 350px;
    background-color: #fff;
    border-radius: 5px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.box2 h3{
    color: #2f45a7;
}

input[type="submit"]{
    border: none;
    background-color: transparent;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
}

.box2-header{
    padding: 2em;
}

.winner-box{
    max-width: 220px;
    margin: 0 auto;
}

@media screen and (max-width: 990px) {
    .panel{
        display: block;
    }

    .box1{
        margin-bottom: 2em;
    }

    .box2{
        max-height: 900px;
    }

    .box2 p{
        font-size: 15px;
    }

    .box2-content{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .sec-section{
        max-width: 300px;
    }

    .vote-access{
        display: grid;
        place-self: center;
        margin-right: 15px;
    }

    .box2.winner{
        max-height: 350px;
    }

    .box2-content-winner{
        max-height: 170px;
    }

    br{
        display: none;
    }
}

@media screen and (max-width: 650px){
    .box-container{
        display: block;
    }

    .box2-content{
        display: grid;
        grid-template-columns: 1fr;
    }

    .box2{
        max-height: 1500px;
    }

    .vote-access{
        margin: 2em auto;
    }

    .box2.winner{
        max-height: 350px;
    }

    .box2-content-winner{
        max-height: 170px;
    }

    br{
        display: none;
    }
}